form#mailer,
form#new_feedback {
  margin-bottom: 50px;

  textarea {
    height: 150px;
    resize: none;
  }
}

.g-recaptcha {
  margin-bottom: 10px;
}

.form {
  margin-bottom: 50px;

  h2 {
    margin-bottom: 25px;
  }
}
