.catalog_nav {
  margin: 0 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .button {
    margin-bottom: 2px;
    width: 23%;
    background: rgb(97, 179, 207);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      background: #ba6566;
    }

    &:hover {
      background: #e17a7b;
    }

    @media (max-width: 639px) {
      width: 48%;
      margin-bottom: 5px;
    }
  }
}
