.page_index {
  .slider {
    height: auto;
    background: none;
    margin: 0 0 50px;

    .orbit {
      &:hover {
        cursor: default;
      }

      .orbit-previous,
      .orbit-next {
        color: #fff;
        background: none;

        &:hover {
          background: none;
          cursor: pointer;
        }
      }

      .orbit-container {
        .orbit-slide {
          .orbit-figure {
            &.first-slide {
              position: relative;

              ul {
                position: absolute;
                top: 0;
                left: 200px;
                list-style: none;
                margin: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 100px;

                @media (max-width: 999px) {
                  left: 80px;
                  padding-top: 80px;
                }

                li {
                  text-transform: uppercase;
                  font-weight: 600;
                  font-size: 24px;
                  color: #474c45;
                  padding: 15px 0 5px 60px;
                  background: url("../../images/slider/list_marker.png");
                  background-repeat: no-repeat;
                  background-size: auto 100%;

                  @media (max-width: 999px) {
                    font-size: 20px;
                    padding: 0 0 0 30px;
                  }
                }
              }
            }

            &.second-slide {
              position: relative;

              .inside {
                position: absolute;
                bottom: 25px;
                left: 0;
                width: 100%;
                padding-left: 30px;

                .spans {
                  width: 81.25%;
                  margin: 0 auto;
                  display: flex;
                  flex-direction: row;

                  span {
                    display: inline-block;
                    width: 480px;
                    margin-right: 60px;
                    text-align: center;
                    font-size: 26px;
                    font-weight: 600;
                    color: #474c45;
                    padding-left: 0;

                    &:nth-of-type(3) {
                      margin-right: 0;
                    }
                  }
                }
              }

              @media (min-width: 840px) and (max-width: 999px) {
                .inside {
                  bottom: 22px;

                  .spans {
                    span {
                      font-size: 18px;
                      padding-left: 0;
                    }
                  }
                }
              }

              @media (max-width: 839px) {
                .inside {
                  bottom: 15px;

                  .spans {
                    width: 85%;

                    span {
                      font-size: 13px;
                      margin-right: 25px;
                      padding-left: 0;

                      &:nth-of-type(1) {
                        padding-right: 15px;
                      }

                      &:nth-of-type(2) {
                        padding-right: 10px;
                      }

                      &:nth-of-type(3) {
                        padding-right: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (max-width: 640px) {
      display: none;
    }
  }

  .about_block {
    position: relative;

    p {
      text-align: center;
      font-size: 20px;
    }

    .develop_image {
      position: absolute;
      top: -25px;
      left: 0;
      height: 100px;
    }

    h1 {
      margin-bottom: 10px;

      &::after {
        content: none;
      }
    }
  }

  .article_block {
    @media (max-width: 640px) {
      margin-bottom: 35px;
    }

    p {
      &:nth-of-type(1) {
        text-align: center;

        a {
          font-size: 24px;
        }
      }

      &:nth-of-type(2) {
        margin-bottom: 6px;
      }

      &:nth-last-of-type(1) {
        text-align: right;
        margin-bottom: 0;
      }
    }
  }

  .advance_block {
    .advance_image {
      height: 100px;
      text-align: center;
      margin-bottom: 20px;

      img {
        max-height: 100%;
      }
    }

    .advance_text {
      h3 {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        color: #282723;
        text-transform: uppercase;
      }

      p {
        text-align: center;
        margin: 0;
        font-size: 20px;
      }
    }
  }

  .categories_block {
    max-width: 1000px;
    margin: 0 auto;

    .category_block {
      display: flex;
      flex-direction: row;
      margin-bottom: 75px;

      .category_image {
        width: 45%;
        margin-right: 10%;
      }

      .category_text {
        width: 45%;
        margin-right: 0;

        h3 {
          font-weight: 300;
        }
      }

      &:nth-of-type(2n) {
        flex-direction: row-reverse;

        .category_image {
          margin-right: 0;
        }

        .category_text {
          margin-right: 10%;
        }
      }
    }
  }

  .review_block {
    background: #fff;
    padding: 5px 10px 15px;
    margin-bottom: 40px;
    border-radius: 5px;

    .review_icon {
      height: 54px;
      width: 100%;
      background: url("../../images/icons/review.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    .review_text {
      min-height: 150px;

      @media (max-width: 640px) {
        min-height: auto;
      }

      p {
        color: #282723;
        text-align: center;
        font-size: 18px;
      }
    }

    .review_author {
      position: relative;
      font-style: italic;
      text-align: center;

      .author_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;

        img {
          width: 100%;
        }
      }

      .author_name {
        color: #282723;
        font-size: 16px;
      }
    }
  }

  #instagram_box {
    display: flex;
    flex-direction: column;
    background: #eee;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;

    .header {
      margin: -15px -12px 5px;
      padding: 10px 10px 8px;
      background: #46719b;

      span {
        position: relative;
        top: 1px;

        a {
          color: #fff;
          font-weight: 500;
        }
      }

      img {
        width: 24px;
        margin-right: 10px;
      }
    }

    .photo_row {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 5px;

      .img {
        width: 33%;
        margin-right: 0.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #fff;
        border: 3px solid #fff;

        &:nth-last-of-type(1) {
          margin-right: 0;
        }
      }

      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
  }
}
