* {
  outline: none;
}

.filters {
  text-align: center;

  .filter {
    display: inline-block;
    margin-right: 20px;

    span {
      margin-right: 10px;
    }

    select {
      display: inline-block;
      width: auto;
    }
  }
}
