.sling_block {
    margin-bottom: 20px;
    text-align: center;
    .sling_image {
        height: 220px;
        padding: 10px;
        img {
            max-height: 100%;
        }
    }
    .sling_text {
        padding: 15px;
        .sling_name {
            color: #010101;
        }
        .sling_price {
            color: #010101;
            margin-bottom: 5px;
        }
    }
}

.link {
    color: #e17a7b;
    &:hover {
        color: #ba6566;
    }
}

.check_box {
    position: relative;
    height: 30px;
    label {
        padding-left: 20px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        cursor: pointer;
    }
    input {
        position: absolute;
        top: 6px;
        left: 0;
        cursor: pointer;
    }
    &.to_wait {
        height: auto;
        p {
            margin-bottom: 22px;
        }
        label {
            top: auto;
            bottom: -20px;
        }
        input {
            top: auto;
            bottom: -30px;
        }
    }
}

.delivery_data {
    display: none;
}

#owner_name {
    width: 48%;
    float: left;
}

#phone {
    width: 48%;
    float: right;
}

.payments {
    iframe {
        margin-right: 10px;
    }
}
