SECRET_KEY_BASE: ''
SLINGS_DATABASE_USERNAME: ''
SLINGS_DATABASE_PASSWORD: ''
API_ACCESS_TOKEN: ''
ADMIN_USERNAME: ''
ADMIN_PASSWORD: ''
INSTAGRAM_USER: ''
INSTAGRAM_TOKEN: ''
ADMIN_EMAIL: ''
MAILGUN_DOMAIN: ''
MAILGUN_USERNAME: ''
MAILGUN_PASSWORD: ''
CAPTCHA_SECRET: ''
ROOT_URL: ''