.review {
    padding: 15px;
    background: #FFF;
    min-height: 105px;
    margin-bottom: 10px;
    .image_block {
        float: left;
        width: 100px;
        img {
            border-radius: 50%;
            width: 75px;
        }
    }
    .text_block {
        p {
            margin-bottom: 5px;
            &:nth-of-type(2) {
                font-style: italic;
            }
        }
    }
}