@import url('https://fonts.googleapis.com/css?family=Neucha&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@mixin scroll-bar {
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background: #e6e6e6;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
}

* {
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
    font-weight: 300;
}

h1, h2 {
    text-transform: uppercase;
    font-weight: 300;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    position: relative;
    @include scroll-bar;
}

.content {
    position: relative;
    min-height: 100%;
    padding-bottom: 140px;
    padding-top: 80px;
    background: #FDFDBF;
}

#header {
    height: 80px;
    background: #FCC7BF;
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    #logo {
        position: absolute;
        left: 50px;
        top: 0;
        height: 87px;
        img {
            max-height: 100%;
        }
    }
    p {
        margin: 0;
        text-align: center;
    }
    .head, .text {
        color: #282723;
        font-size: 16px;
    }
}

.menu-centered {
    padding-top: 20px;
    margin-bottom: 20px;
    .menu {
        background: #FFF;
        border-radius: 5px;
        box-shadow: 3px 3px 10px 0 #76BBFA;
        a {
            font-family: 'Neucha', sans-serif !important;
            color: #645f69;
            font-size: 18px;
            text-transform: uppercase;
            padding: 16px 25px 14px;
            &:hover {
                color: #909090;
            }
            &.active {
                color: #76BBFA;
            }
        }
    }
}

#footer {
    width: 100%;
    background: #fcc7bf;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    h4 {
        font-size: 20px;
    }
    p {
        margin-bottom: 3px;
        font-size: 16px;
    }
    img {
        width: 25px;
        border-radius: 6px;
        margin-right: 4px;
    }
}

.big_block.row {
    margin: 40px auto 70px;
}

h1, h2 {
    color: #ef767d;
    font-size: 30px;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    margin: 0 0 40px;
    span {
        &.big {
            font-weight: 500;
            font-size: 30px;
        }
        &.little {
            font-size: 26px;
        }
    }
    &:after {
        position: absolute;
        content: '';
        background: #76BBFA;
        width: 100px;
        height: 2px;
        bottom: 0;
        left: 50%;
        margin-left: -50px;
    }
}

.category_block {
    margin-bottom: 40px;
    .category_image {
        height: 220px;
        padding: 10px;
        img {
            max-height: 100%;
        }
    }
    .category_text {
        padding: 0 20px 10px;
        height: 106px;
        h3 {
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            color: #010101;
        }
        p {
            text-align: center;
            margin: 0;
            color: #898a8a;
        }
    }
}

.advance_block {
    .advance_image {
        height: 100px;
        text-align: center;
        margin-bottom: 20px;
        img {
            max-height: 100%;
        }
    }
    .advance_text {
        h3 {
            text-align: center;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 20px;
            color: #282723;
            text-transform: uppercase;
        }
        p {
            text-align: center;
            margin: 0;
            font-size: 18px;
        }
    }
}

.review_block {
    background: #FFF;
    padding: 5px 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    .review_icon {
        height: 54px;
        width: 100%;
        background-image: image-url('icons/review.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .review_text {
        margin-top: 10px;
        min-height: 140px;
        p {
            color: #282723;
            text-align: center;
            font-size: 16px;
        }
    }
    .review_author {
        position: relative;
        font-style: italic;
        text-align: center;
        .author_image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        .author_name {
            color: #282723;
            font-size: 14px;
        }
    }
}

.sling_block {
    margin-bottom: 20px;
    text-align: center;
    .sling_image {
        height: 220px;
        padding: 10px;
        img {
            max-height: 100%;
        }
    }
    .sling_text {
        padding: 15px;
        .sling_name {
            color: #010101;
        }
        .sling_price {
            color: #010101;
            margin-bottom: 5px;
        }
    }
}

.button.price_button {
    padding: 12px 25px;
    background: #e17a7b;
    color: #FFF !important;
    margin-bottom: 0;
    font-size: 18px;
    &:hover {
        background: #ba6566;
    }
}

.link {
    color: #e17a7b;
    &:hover {
        color: #ba6566;
    }
}

#cart {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 15px;
    background: #ef767d;
    color: #010101;
    z-index: 3;
    border-radius: 5px;
}

.catalog_nav {
    margin-top: 92px;
    .button {
        margin-bottom: 2px;
        width: 100%;
        text-align: left;
        background: #e17a7b;
        font-size: 18px;
        &.active {
            background: #ba6566;
        }
        &:hover {
            background: #ba6566;
        }
    }
}

.product_block {
    padding: 10px;
    .image_block {
        text-align: center;
    }
}

.block {
    border-radius: 5px;
    background: #f7f8fc;
    box-shadow: 3px 3px 10px 0px #9DC719;
    text-align: center;
}

table {
    thead {
        th {
            font-weight: 500;
        }
    }
    tbody {
        tr {
            td {
                img {
                    max-height: 50px;
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}

.check_box {
    position: relative;
    height: 30px;
    label {
        padding-left: 20px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        cursor: pointer;
    }
    input {
        position: absolute;
        top: 6px;
        left: 0;
        cursor: pointer;
    }
    &.to_wait {
        height: auto;
        p {
            margin-bottom: 22px;
        }
        label {
            top: auto;
            bottom: -20px;
        }
        input {
            top: auto;
            bottom: -30px;
        }
    }
}

table {
    thead {
        th:nth-of-type(2) {
            width: 400px;
        }
        th:nth-of-type(3) {
            text-align: right;
        }
    }
    tbody {
        td:nth-of-type(1), td:nth-of-type(5) {
            text-align: center;
        }
    }
    .change_count {
        width: 110px;
        .count {
            float: right;
            width: 50px;
            padding-top: 12px;
        }
        .buttons {
            float: right;
            form {
                height: 23px;
            }
        }
    }
    .button_up, .button_down, .button_delete {
        padding: 0;
        width: 23px;
        height: 23px;
        border: none;
        outline: 0;
        cursor: pointer;
    }
    .button_up {
        background-image: image-url('button_up.png');
        background-repeat: no-repeat;
    }
    .button_down {
        background-image: image-url('button_down.png');
        background-repeat: no-repeat;
    }
    .button_delete {
        margin-top: 3px;
        background-image: image-url('button_delete.png');
        background-repeat: no-repeat;
    }
    .amount {
        text-align: right;
    }
}

.delivery_data {
    display: none;
}

#owner_name {
    width: 48%;
    float: left;
}

#phone {
    width: 48%;
    float: right;
}

.payments {
    iframe {
        margin-right: 10px;
    }
}

.about_block {
    position: relative;
    p {
        text-align: center;
        font-size: 20px;
    }
    .develop_image {
        position: absolute;
        top: -25px;
        left: 0;
        height: 100px;
    }
    h1 {
        margin-bottom: 10px;
        &:after {
            content: none;
        }
    }
}

.categories_block {
    max-width: 900px;
}

@media screen and (max-width: 1023px) {
    #logo {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .menu-centered .menu li {
        display: list-item;
        a {
            padding: 10px 25px;
        }
    }

    .category_block .category_image, .category_block {
        .category_image {
            height: 200px;
        }
        .category_text h3 {
            margin-bottom: 0;
        }
    }

    .big_block.row {
        margin: 20px auto 30px;
    }

    .categories_block {
        .columns.large-3 {
            width: 50%;
        }
    }
}

@media screen and (max-width: 639px) {
    .catalog_nav {
        margin-top: 0;
    }

    #header {
        .text {
            font-size: 15px;
        }
    }
}