= render 'components/page/page', path: :catalog do
    = render 'components/categories/categories' do
        = render 'components/categories_nav/categories_nav', categories: @categories, active_category: ''
