.content {
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  padding-top: 110px;
  padding-bottom: 140px;

  @media (max-width: 639px) {
    padding-top: 190px;
    padding-bottom: 120px;
  }
}
