= render 'components/page/page', path: :catalog do
  = render 'components/product/product', product: @product do
    = render 'components/categories_nav/categories_nav', categories: @categories, active_category: @product.category.friendly_id
