#header {
  background: #fff;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  .cell {
    position: relative;
  }

  #logo {
    height: 140px;
    position: absolute;
    left: 100px;

    img {
      max-height: 100%;
    }

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  #logo_text {
    height: 140px;
    text-align: center;

    img {
      max-height: 100%;
    }

    @media screen and (max-width: 1023px) {
      height: 90px;
    }
  }

  p {
    margin: 0;
    text-align: center;
  }

  @media screen and (max-width: 639px) {
    padding: 6px 0;
  }
}
